body {
  background-color: rgb(24, 26, 27) !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*---Custom-CSS---*/
.full-banner {
  width: 100% !important;
}

.cropped-banner {
  background: orange;
  padding-bottom: 32px;
  height: 250px;
  overflow: hidden;
}

.character-card-default-height, .comic-card-default-height {
    min-height: 570px !important;
    max-height: 570px !important;
}

/* @media screen and (max-width:767px) {
    .card-default-height {
        margin: 0 auto !important;
        display: table !important;
    }
} */

.limit-text-words {
  width: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

div.content {
  margin: 0 auto !important
}

h2.ui.header {
  color: invert(70%);
}

.active-opt-menu {
  color: #eb4034 !important;
}
.inactive-opt-menu {
  color: #2e48df !important;
}

.float-inside-image {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 5px;
  top: 5px;
}

.scroll-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
}

.custom-font {
  font: italic small-caps bold 20px/30px Georgia, serif !important;
}

.set-equal-height {
	display: block;
	max-width: max-content;
	min-width: 100%;
}

.set-equal-height img {
	position: relative;
	width: 100%;
	height: 280px;
}

.set-equal-height img:hover {
    opacity: 0.5;
    filter:blur(0.5px);
    transition: opacity 0.5s ease-in;
}


/* Mobile */

@media only screen and (max-width: 767px) {
	.set-equal-height {
		height: 280px;
		max-width: 290px;
		width: 100%;
		overflow: hidden;
	}
}


/* Tablet / iPad Portrait */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.set-equal-height {
		display: block;
		max-width: max-content;
		min-width: 100%;
	}
	.set-equal-height img {
		position: relative;
		width: 100%;
		height: 280px;
	}
}


/* Computer / Desktop / iPad Landscape */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.set-equal-height {
		height: 250px;
	}
	.set-equal-height img {
		height: 250px;
		width: max-content;
		max-width: 100%;
	}
}


/* Large Monitor */

@media only screen and (min-width: 1200px) and (max-width: 1919px) {
	.set-equal-height {
		height: 250px;
		width: 100%;
	}
	.set-equal-height img {
		height: 250px;
		width: 100%;
	}
}


/* Widescreen Monitor */

@media only screen and (min-width: 1920px) {
	.set-equal-height {
		height: 280px;
		width: 100%;
	}
	.set-equal-height img {
		height: 280px;
		width: 100%;
	}
}